{
  "swagger": "2.0",
  "info": {
    "title": "Inngest REST API v2",
    "description": "The v2 API delivers a significantly improved developer experience with consistent design patterns and enhanced functionality.",
    "version": "2.0.0"
  },
  "tags": [
    {
      "name": "V2"
    }
  ],
  "host": "api.inngest.com",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/account": {
      "get": {
        "summary": "Get account",
        "description": "Returns the account for the authenticated user",
        "operationId": "V2_FetchAccount",
        "responses": {
          "200": {
            "description": "Account",
            "schema": {
              "$ref": "#/definitions/v2FetchAccountResponse"
            }
          },
          "401": {
            "description": "Unauthorized - authentication required",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Accounts"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/env/webhooks": {
      "get": {
        "summary": "List webhooks",
        "description": "Lists all webhooks in the specified environment",
        "operationId": "V2_ListWebhooks",
        "responses": {
          "200": {
            "description": "List of webhooks",
            "schema": {
              "$ref": "#/definitions/v2ListWebhooksResponse"
            }
          },
          "400": {
            "description": "Bad Request - invalid query parameters",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - authentication required",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "cursor",
            "description": "Pagination cursor from previous response",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Number of webhooks to return per page (min: 1, max: 100)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": "20"
          },
          {
            "name": "X-Inngest-Env",
            "description": "Target environment for the webhooks (e.g., 'production', 'staging', 'development')",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "Create webhook",
        "description": "Creates a new webhook for receiving events",
        "operationId": "V2_CreateWebhook",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2CreateWebhookResponse"
            }
          },
          "201": {
            "description": "Webhook successfully created",
            "schema": {
              "$ref": "#/definitions/v2CreateWebhookResponse"
            }
          },
          "400": {
            "description": "Bad Request - invalid input data",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - authentication required",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict - webhook with same URL already exists",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "422": {
            "description": "Unprocessable Entity - business logic validation failed",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v2CreateWebhookRequest"
            }
          },
          {
            "name": "X-Inngest-Env",
            "description": "Target environment for the webhook (e.g., 'production', 'staging', 'development')",
            "in": "header",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Webhooks"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/envs": {
      "get": {
        "summary": "List environments",
        "description": "List of all custom environments.",
        "operationId": "V2_FetchAccountEnvs",
        "responses": {
          "200": {
            "description": "List of account environments",
            "schema": {
              "$ref": "#/definitions/v2FetchAccountEnvsResponse"
            }
          },
          "400": {
            "description": "Bad Request - invalid query parameters",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - authentication required",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - account not found",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "cursor",
            "description": "Pagination cursor from previous response",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Number of environments to return per page (min: 1, max: 250)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": "50"
          }
        ],
        "tags": [
          "Environments"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "Create environment",
        "description": "Create custom environment",
        "operationId": "V2_CreateEnv",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2CreateEnvResponse"
            }
          },
          "201": {
            "description": "Env successfully created",
            "schema": {
              "$ref": "#/definitions/v2CreateEnvResponse"
            }
          },
          "400": {
            "description": "Bad Request - invalid input data",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - authentication required",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict - account already exists",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v2CreateEnvRequest"
            }
          }
        ],
        "tags": [
          "Environments"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/envs/{id}": {
      "patch": {
        "summary": "Update environment",
        "description": "Partially updates an environment. Only the provided fields will be modified.",
        "operationId": "V2_PatchEnv",
        "responses": {
          "200": {
            "description": "Environment successfully updated",
            "schema": {
              "$ref": "#/definitions/v2PatchEnvsResponse"
            }
          },
          "400": {
            "description": "Bad Request - invalid input data",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - authentication required",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - environment not found",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "422": {
            "description": "Unprocessable Entity - business logic validation failed",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The ID of the environment to update",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/V2PatchEnvBody"
            }
          }
        ],
        "tags": [
          "Environments"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/health": {
      "get": {
        "summary": "Health check",
        "description": "Returns the health status of the API service",
        "operationId": "V2_Health",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2HealthResponse"
            }
          },
          "401": {
            "description": "Unauthorized - authentication required",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "Health"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/keys/events": {
      "get": {
        "summary": "List account event keys",
        "description": "Lists event keys for a specific account, optionally filtered by environment. If the environment header isn't specified, this returns the default production environment's keys.",
        "operationId": "V2_FetchAccountEventKeys",
        "responses": {
          "200": {
            "description": "List of account event keys",
            "schema": {
              "$ref": "#/definitions/v2FetchAccountEventKeysResponse"
            }
          },
          "400": {
            "description": "Bad Request - invalid query parameters",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - authentication required",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - account not found",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "cursor",
            "description": "Pagination cursor from previous response",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Number of event keys to return per page (min: 1, max: 100)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": "20"
          },
          {
            "name": "X-Inngest-Env",
            "description": "Filter event keys by environment (e.g., 'production', 'staging', 'development')",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Event Keys"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/keys/signing": {
      "get": {
        "summary": "List account signing keys",
        "description": "Lists signing keys for a specific account, optionally filtered by environment.  If the environment header isn't specified, this returns the default production environment's keys.",
        "operationId": "V2_FetchAccountSigningKeys",
        "responses": {
          "200": {
            "description": "List of account signing keys",
            "schema": {
              "$ref": "#/definitions/v2FetchAccountSigningKeysResponse"
            }
          },
          "400": {
            "description": "Bad Request - invalid query parameters",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - authentication required",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - account not found",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "cursor",
            "description": "Pagination cursor from previous response",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Number of signing keys to return per page (min: 1, max: 100)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": "20"
          },
          {
            "name": "X-Inngest-Env",
            "description": "Filter signing keys by environment (e.g., 'production', 'staging', 'development')",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Signing Keys"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/partner/accounts": {
      "get": {
        "summary": "List partner accounts",
        "description": "Lists sub-accounts (if you have partner access)",
        "operationId": "V2_FetchPartnerAccounts",
        "responses": {
          "200": {
            "description": "List of accounts",
            "schema": {
              "$ref": "#/definitions/v2FetchAccountsResponse"
            }
          },
          "400": {
            "description": "Bad Request - invalid query parameters",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - authentication required",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "cursor",
            "description": "Pagination cursor from previous response",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Number of accounts to return per page (min: 1, max: 1000)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": "20"
          }
        ],
        "tags": [
          "Partner Accounts"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "Create partner account",
        "description": "Creates a sub-account (if you have partner access)",
        "operationId": "V2_CreatePartnerAccount",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2CreateAccountResponse"
            }
          },
          "201": {
            "description": "Account successfully created",
            "schema": {
              "$ref": "#/definitions/v2CreateAccountResponse"
            }
          },
          "400": {
            "description": "Bad Request - invalid input data",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - authentication required",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict - account already exists",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/v2ErrorResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v2CreateAccountRequest"
            }
          }
        ],
        "tags": [
          "Partner Accounts"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "definitions": {
    "V2PatchEnvBody": {
      "type": "object",
      "properties": {
        "isArchived": {
          "type": "boolean",
          "description": "Updates the archived status of the environment. Set to true to archive the environment or false to unarchive it."
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v2Account": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "v2CreateAccountData": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "apiKey": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "v2CreateAccountRequest": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "v2CreateAccountResponse": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/v2CreateAccountData"
        },
        "metadata": {
          "$ref": "#/definitions/v2ResponseMetadata"
        }
      }
    },
    "v2CreateEnvRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "v2CreateEnvResponse": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/v2Env"
        },
        "metadata": {
          "$ref": "#/definitions/v2ResponseMetadata"
        }
      }
    },
    "v2CreateWebhookRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "example": "Payment Processing Webhook",
          "description": "Descriptive name for the webhook"
        },
        "transform": {
          "type": "string",
          "example": "function transform(evt, headers = {}, queryParams = {}, raw = '') { return { name: 'webhook/request.received', data: evt }; }",
          "description": "The inline JS transform function for incoming events"
        },
        "response": {
          "type": "string",
          "example": "function respond(body, headers) { return { status: 200, headers: {}, body: JSON.parse(body)?.challenge } };",
          "description": "Optional inline JS function which is called to respond to GET requests"
        },
        "event_filter": {
          "$ref": "#/definitions/v2EventFilter",
          "description": "Optional event filtering configuration"
        }
      }
    },
    "v2CreateWebhookResponse": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/v2Webhook"
        },
        "metadata": {
          "$ref": "#/definitions/v2ResponseMetadata"
        }
      }
    },
    "v2Env": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/v2EnvType"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "isArchived": {
          "type": "boolean"
        }
      }
    },
    "v2EnvType": {
      "type": "string",
      "enum": [
        "PRODUCTION",
        "TEST",
        "BRANCH"
      ],
      "default": "PRODUCTION"
    },
    "v2EventFilter": {
      "type": "object",
      "properties": {
        "events": {
          "type": "array",
          "example": [
            "orders/payment.created",
            "orders/*"
          ],
          "items": {
            "type": "string"
          },
          "description": "Allow or deny specific events, e.g. 'orders/payment.created', or 'orders/*' for all orders. Only events in this list will be either allowed or denied."
        },
        "filter": {
          "$ref": "#/definitions/v2FilterType",
          "description": "Either allow only the events requested, or deny the specific events listed"
        }
      }
    },
    "v2EventKey": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "environment": {
          "type": "string"
        },
        "key": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "v2FetchAccountEnvsResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v2Env"
          }
        },
        "metadata": {
          "$ref": "#/definitions/v2ResponseMetadata"
        },
        "page": {
          "$ref": "#/definitions/v2Page"
        }
      }
    },
    "v2FetchAccountEventKeysResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v2EventKey"
          }
        },
        "metadata": {
          "$ref": "#/definitions/v2ResponseMetadata"
        },
        "page": {
          "$ref": "#/definitions/v2Page"
        }
      }
    },
    "v2FetchAccountResponse": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/v2Account"
        },
        "metadata": {
          "$ref": "#/definitions/v2ResponseMetadata"
        }
      }
    },
    "v2FetchAccountSigningKeysResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v2SigningKey"
          }
        },
        "metadata": {
          "$ref": "#/definitions/v2ResponseMetadata"
        },
        "page": {
          "$ref": "#/definitions/v2Page"
        }
      }
    },
    "v2FetchAccountsResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v2Account"
          }
        },
        "metadata": {
          "$ref": "#/definitions/v2ResponseMetadata"
        },
        "page": {
          "$ref": "#/definitions/v2Page"
        }
      }
    },
    "v2FilterType": {
      "type": "string",
      "enum": [
        "ALLOW",
        "DENY"
      ],
      "default": "ALLOW"
    },
    "v2HealthData": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string"
        }
      }
    },
    "v2HealthResponse": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/v2HealthData"
        },
        "metadata": {
          "$ref": "#/definitions/v2ResponseMetadata"
        }
      }
    },
    "v2ListWebhooksResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v2Webhook"
          }
        },
        "metadata": {
          "$ref": "#/definitions/v2ResponseMetadata"
        },
        "page": {
          "$ref": "#/definitions/v2Page"
        }
      }
    },
    "v2Page": {
      "type": "object",
      "properties": {
        "cursor": {
          "type": "string"
        },
        "hasMore": {
          "type": "boolean"
        },
        "limit": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "v2PatchEnvsResponse": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/v2Env"
        },
        "metadata": {
          "$ref": "#/definitions/v2ResponseMetadata"
        }
      }
    },
    "v2ResponseMetadata": {
      "type": "object",
      "properties": {
        "fetched_at": {
          "type": "string",
          "format": "date-time"
        },
        "cached_until": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "v2SigningKey": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "environment": {
          "type": "string"
        },
        "key": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "v2Webhook": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "transform": {
          "type": "string"
        },
        "response": {
          "type": "string"
        },
        "event_filter": {
          "$ref": "#/definitions/v2EventFilter"
        },
        "environment": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    }
  },
  "securityDefinitions": {
    "BearerAuth": {
      "type": "apiKey",
      "description": "Bearer token authentication. Format: `Bearer {key}`",
      "name": "Authorization",
      "in": "header"
    }
  }
}
